{% extends 'articles/base.html' %}

{% block title %}Профиль автора | IPoster{% endblock %}

{% block content %}
    <h2>Профиль автора</h2>

    <div class="article-form">
        <div class="form-group">
            <label>Никнейм:</label>
            <p>{{ user_profile.username }}</p>
        </div>

        <div class="form-group">
            <label>Имя:</label>
            <p>{{ user_profile.first_name }}</p>
        </div>

        <div class="form-group">
            <label>Фамилия:</label>
            <p>{{ user_profile.last_name }}</p>
        </div>

        <div class="form-group">
            <label>О себе:</label>
            <p>{{ user_profile.about_self|linebreaksbr }}</p>
        </div>

        <div class="form-group">
            <label>Дата рождения:</label>
            <p>{{ user_profile.birth_date|date:"d.m.Y" }}</p>
        </div>

        <div class="form-group post-count">
            Количество публикаций: {{ post_count }}
        </div>

        <div class="form-group post-count">
            Профиль этого автора понравился <span class="likes-count">{{ user_profile.profile_likes.count }} ❤️</span>пользователям
        </div>

        {% if user != user_profile %}
        <form method="post" action="{% url 'users:toggle_profile_like' profile_id=user_profile.id %}">
            {% csrf_token %}
            {% if user.id in liked_user_ids %}
                <button type="submit" class="like-button">Убрать лайк</button>
            {% else %}
                <button type="submit" class="like-button">Поставить лайк</button>
            {% endif %}
        </form>
    {% endif %}
    </div>
{% endblock %}
